@tailwind base;
@tailwind components;
@tailwind utilities;
.input {
  @apply w-full border p-2 rounded;
}
.btn {
  @apply bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700;
}
.section {
  @apply font-semibold border-b mt-4 mb-1;
}
